<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Vue Js</title>
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <div id="app" v-cloak>
    {{ message }}
    <!-- <input @keyup.enter="greet(message + '!!!')" v-model='message'> -->
    <!-- <input @keyup.prevent.stop="greet(message + '!!!')" v-model='message'> -->
    <input @keyup.backspace="greet(message + '!!!')" v-model='message'>
    <hr>

    <!-- directives in vue js -->
    <!-- <button v-on:click="isVisible= !isVisible" >Show Box</button> -->
    <!-- <button @click="isVisible= !isVisible" >Show Box</button> -->
    <button @click="toggleBox">Show Box</button>
    <div class="box" v-if="isVisible"></div>
  </div>

  <script src="https://unpkg.com/vue@3"></script>
  <!-- <script src="./index.js"></script> -->
  <script>
    alert('29.15 min')
    let app = Vue.createApp({
      data: function () {
        return {
          message: 'Vue js',
          isVisible: false,
        }
      },
      methods: {
        toggleBox() {
          this.isVisible = !this.isVisible
        },
        greet(inpVal) {
          // press enter to see output
          console.log(inpVal)
        }
      }
    }).mount('#app')
// app.mount('#app')

  </script>

</body>

</html>